.settings-list {
  margin-top: 50px;
  font-size: 250%;
}
.settings-list li {
  margin: 50px 0px;
}

.settings-list i {
  margin-right: 15px;
}
.settings-list {
  overflow-y: hidden;
}
.settings-list_downside {
  margin-top: 0;
}
.settings-line {
  margin-top: -50px;
}
.settings-list_upside {
  padding: 40px 0px;
}
.gray-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gray-text h2 {
  font-size: 80%;
  opacity: 0.8;
}
